.idea/
.DS_Store
target/
conda_tratto.sh
output*/
token-classes-dataset.zip
token-values-dataset.zip
src/main/resources/tokens-dataset.xlsx
src/main/resources/tokens-dataset-test.json
src/test/resources/tokens-dataset.xlsx
src/test/resources/tokens-dataset-test.json
src/main/resources/oracles-dataset/
src/test/resources/oracles-dataset/
src/main/resources/tokens-dataset/
src/test/resources/tokens-dataset/
src/main/resources/tmp/
src/test/resources/tmp/
src/main/resources/oracle_datapoints.json
src/main/resources/token_datapoints.json
tmp/
*.log
# Excel files:
~$*