.idea/
.DS_Store
*.log
conda_tratto.sh
output*/
src/main/resources/oracle_datapoints.json
src/main/resources/oracles-dataset/
src/main/resources/tmp/
src/main/resources/tokens-dataset/
src/main/resources/token_datapoints.json
src/main/resources/tokens-dataset.xlsx
src/main/resources/tokens-dataset-test.json
src/test/resources/tokens-dataset.xlsx
src/test/resources/tokens-dataset-test.json
src/main/resources/oracles-dataset-train/
src/main/resources/oracles-dataset-validation/
src/test/resources/oracles-dataset/
src/main/resources/tokens-dataset-train/
src/main/resources/tokens-dataset-validation/
src/main/resources/token-classes-dataset-train/
src/main/resources/token-classes-dataset-validation/
src/main/resources/token-values-dataset-train/
src/main/resources/token-values-dataset-validation/
src/test/resources/tokens-dataset/
src/test/resources/tmp/
src/main/resources/negative_oracles.json
src/main/resources/positive_oracles.json
target/
tmp/
token-classes-dataset.zip
token-values-dataset.zip
# Excel files:
~$*